In [1]:
import os
import numpy as np
import pandas as pd

# Import Data

In [12]:
# Read excel file with sheet name
sheetname = ['ลำดับ']

dict_df = pd.read_excel('/home/kannika/Analysis_Valorant/Datamining_model-300.xlsx', 
                   sheet_name=sheetname)
df_sheet = dict_df['ลำดับ']
df_sheet = df_sheet.iloc[:, 0:4, ]
print(df_sheet.shape)
df_sheet

(584, 4)

     ลำดับ        Action 1        Action 2      Action 3
0        1      Buy_Aciton               -             -
1        2   Defuse Aciton               -             -
2        3    Skill_Aciton               -             -
3        4  Class 0 Aciton               -             -
4        5    Shoot_Aciton               -             -
..     ...             ...             ...           ...
579    580     Dead_Aciton  Class 0 Aciton  Shoot_Aciton
580    581     Dead_Aciton    Shoot_Aciton    Buy_Aciton
581    582     Dead_Aciton    Plant Aciton  Plant Aciton
582    583     Dead_Aciton      Orb Aciton    Orb Aciton
583    584     Dead_Aciton     Dead_Aciton   Dead_Aciton

[584 rows x 4 columns]

- (1) Cut off Value "-" in Action 3

- (2) Cut off "Buy_Aciton"

- (3) Cut off "Class 0 Aciton"

In [48]:
## - 1
df_sheet2 = df_sheet.loc[df_sheet["Action 3"] != "-"].reset_index(drop=True)
#onvert to string ==> ["ลำดับ"]  
#df_sheet2['ลำดับ'] = df_sheet2['ลำดับ'].apply(str)
print(df_sheet2.shape)
df_sheet2

(512, 4)

     ลำดับ     Action 1        Action 2        Action 3
0       73   Buy_Aciton      Buy_Aciton   Defuse Aciton
1       74   Buy_Aciton   Defuse Aciton    Skill_Aciton
2       75   Buy_Aciton    Skill_Aciton  Class 0 Aciton
3       76   Buy_Aciton  Class 0 Aciton    Shoot_Aciton
4       77   Buy_Aciton    Shoot_Aciton      Buy_Aciton
..     ...          ...             ...             ...
507    580  Dead_Aciton  Class 0 Aciton    Shoot_Aciton
508    581  Dead_Aciton    Shoot_Aciton      Buy_Aciton
509    582  Dead_Aciton    Plant Aciton    Plant Aciton
510    583  Dead_Aciton      Orb Aciton      Orb Aciton
511    584  Dead_Aciton     Dead_Aciton     Dead_Aciton

[512 rows x 4 columns]

In [51]:
# print(df_sheet2['ลำดับ'][0])
# print(type(df_sheet2['ลำดับ'][0]))

In [75]:
## --2 & 3
order_act, index_ = [], []
columns_action = ['Action 1','Action 2','Action 3']
for i in range(len(df_sheet2)):
    for j in range(len(columns_action)):
        value_i = df_sheet2[columns_action[j]][i]
        if value_i == "Buy_Aciton" or value_i == "Class 0 Aciton":
            index_.append(i)
            order_act.append(df_sheet2['ลำดับ'][i])

In [76]:
set_order_act = list(set(order_act))
#set_order_act.sort()
set_index_ = list(set(index_))

print(len(set_order_act))
print(len(set_index_))

320
320

In [84]:
512-320

192

In [87]:
drop_order = set(df_sheet2["ลำดับ"])-set(set_order_act)
listdrop_order = list(drop_order)
listdrop_order.sort()
print(len(listdrop_order))
print(listdrop_order)

192
[138, 142, 143, 144, 146, 150, 151, 152, 154, 158, 159, 160, 162, 166, 167, 168, 170, 174, 175, 176, 178, 182, 183, 184, 186, 190, 191, 192, 194, 198, 199, 200, 202, 206, 207, 208, 210, 214, 215, 216, 218, 222, 223, 224, 226, 230, 231, 232, 234, 238, 239, 240, 242, 246, 247, 248, 250, 254, 255, 256, 258, 262, 263, 264, 330, 334, 335, 336, 338, 342, 343, 344, 346, 350, 351, 352, 354, 358, 359, 360, 362, 366, 367, 368, 370, 374, 375, 376, 378, 382, 383, 384, 386, 390, 391, 392, 394, 398, 399, 400, 402, 406, 407, 408, 410, 414, 415, 416, 418, 422, 423, 424, 426, 430, 431, 432, 434, 438, 439, 440, 442, 446, 447, 448, 450, 454, 455, 456, 458, 462, 463, 464, 466, 470, 471, 472, 474, 478, 479, 480, 482, 486, 487, 488, 490, 494, 495, 496, 498, 502, 503, 504, 506, 510, 511, 512, 514, 518, 519, 520, 522, 526, 527, 528, 530, 534, 535, 536, 538, 542, 543, 544, 546, 550, 551, 552, 554, 558, 559, 560, 562, 566, 567, 568, 570, 574, 575, 576, 578, 582, 583, 584]

In [88]:
# print(len(set(set_order_act)-set(df_sheet["ลำดับ"])))
# print(set(set_order_act)-set(df_sheet["ลำดับ"]))

In [89]:
# mapping
order_act_string = [str(x) for x in listdrop_order]
print(order_act_string)

['138', '142', '143', '144', '146', '150', '151', '152', '154', '158', '159', '160', '162', '166', '167', '168', '170', '174', '175', '176', '178', '182', '183', '184', '186', '190', '191', '192', '194', '198', '199', '200', '202', '206', '207', '208', '210', '214', '215', '216', '218', '222', '223', '224', '226', '230', '231', '232', '234', '238', '239', '240', '242', '246', '247', '248', '250', '254', '255', '256', '258', '262', '263', '264', '330', '334', '335', '336', '338', '342', '343', '344', '346', '350', '351', '352', '354', '358', '359', '360', '362', '366', '367', '368', '370', '374', '375', '376', '378', '382', '383', '384', '386', '390', '391', '392', '394', '398', '399', '400', '402', '406', '407', '408', '410', '414', '415', '416', '418', '422', '423', '424', '426', '430', '431', '432', '434', '438', '439', '440', '442', '446', '447', '448', '450', '454', '455', '456', '458', '462', '463', '464', '466', '470', '471', '472', '474', '478', '479', '480', '482', '486', '487', '488', '490', '494', '495', '496', '498', '502', '503', '504', '506', '510', '511', '512', '514', '518', '519', '520', '522', '526', '527', '528', '530', '534', '535', '536', '538', '542', '543', '544', '546', '550', '551', '552', '554', '558', '559', '560', '562', '566', '567', '568', '570', '574', '575', '576', '578', '582', '583', '584']

In [30]:
#set_index_

In [90]:
dfAll_Stream = pd.read_csv("/home/kannika/Analysis_Valorant/final_output_valorant.csv")
print(dfAll_Stream.shape)
dfAll_Stream.head()

(795, 593)

,Unnamed: 0,round,streamer,character,pro_player,result,dead,Map,1,2,...,576,577,578,579,580,581,582,583,584,sheet
0,0,รอบ 1,boltyanskiyy,Yoru,Pro,win,survive,HAVEN,2,0,...,0,0,0,0,0,0,0,0,0,Yoru_Pro
1,1,รอบ 2,boltyanskiyy,Yoru,Pro,win,survive,HAVEN,3,0,...,0,0,0,0,0,0,0,0,0,Yoru_Pro
2,2,รอบ 3,boltyanskiyy,Yoru,Pro,win,dead,HAVEN,3,0,...,0,0,0,0,0,0,0,0,0,Yoru_Pro
3,3,รอบ 4,boltyanskiyy,Yoru,Pro,win,dead,HAVEN,1,0,...,0,0,0,0,0,0,0,0,0,Yoru_Pro
4,4,รอบ 5,boltyanskiyy,Yoru,Pro,win,survive,HAVEN,5,0,...,0,0,0,0,0,0,0,0,0,Yoru_Pro

In [91]:
Stream_columns = ['round','streamer','character','pro_player','result','dead','Map','sheet']
Mycolums = Stream_columns+order_act_string
print(len(Mycolums))
print(Mycolums)

200
['round', 'streamer', 'character', 'pro_player', 'result', 'dead', 'Map', 'sheet', '138', '142', '143', '144', '146', '150', '151', '152', '154', '158', '159', '160', '162', '166', '167', '168', '170', '174', '175', '176', '178', '182', '183', '184', '186', '190', '191', '192', '194', '198', '199', '200', '202', '206', '207', '208', '210', '214', '215', '216', '218', '222', '223', '224', '226', '230', '231', '232', '234', '238', '239', '240', '242', '246', '247', '248', '250', '254', '255', '256', '258', '262', '263', '264', '330', '334', '335', '336', '338', '342', '343', '344', '346', '350', '351', '352', '354', '358', '359', '360', '362', '366', '367', '368', '370', '374', '375', '376', '378', '382', '383', '384', '386', '390', '391', '392', '394', '398', '399', '400', '402', '406', '407', '408', '410', '414', '415', '416', '418', '422', '423', '424', '426', '430', '431', '432', '434', '438', '439', '440', '442', '446', '447', '448', '450', '454', '455', '456', '458', '462', '463', '464', '466', '470', '471', '472', '474', '478', '479', '480', '482', '486', '487', '488', '490', '494', '495', '496', '498', '502', '503', '504', '506', '510', '511', '512', '514', '518', '519', '520', '522', '526', '527', '528', '530', '534', '535', '536', '538', '542', '543', '544', '546', '550', '551', '552', '554', '558', '559', '560', '562', '566', '567', '568', '570', '574', '575', '576', '578', '582', '583', '584']

In [92]:
## Selecet Columns
Stream_final = dfAll_Stream[Mycolums]
print(Stream_final.shape)
Stream_final

(795, 200)

,round,streamer,character,pro_player,result,dead,Map,sheet,138,142,...,567,568,570,574,575,576,578,582,583,584
0,รอบ 1,boltyanskiyy,Yoru,Pro,win,survive,HAVEN,Yoru_Pro,0,0,...,0,0,0,0,0,0,0,0,0,0
1,รอบ 2,boltyanskiyy,Yoru,Pro,win,survive,HAVEN,Yoru_Pro,0,0,...,0,0,0,0,0,0,0,0,0,0
2,รอบ 3,boltyanskiyy,Yoru,Pro,win,dead,HAVEN,Yoru_Pro,0,0,...,0,0,0,0,0,0,0,0,0,0
3,รอบ 4,boltyanskiyy,Yoru,Pro,win,dead,HAVEN,Yoru_Pro,0,0,...,0,0,0,0,0,0,0,0,0,0
4,รอบ 5,boltyanskiyy,Yoru,Pro,win,survive,HAVEN,Yoru_Pro,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790,20,Karretto,Harbor,Normal,win,dead,Split,Harbor_Normal,0,0,...,0,0,0,0,0,0,0,0,0,0
791,21,Karretto,Harbor,Normal,lose,dead,Split,Harbor_Normal,0,0,...,0,0,0,0,0,0,0,0,0,0
792,22,Karretto,Harbor,Normal,lose,dead,Split,Harbor_Normal,0,0,...,0,0,0,0,0,0,0,0,0,0
793,23,Karretto,Harbor,Normal,win,survive,Split,Harbor_Normal,0,0,...,0,0,0,0,0,0,0,0,0,0
794,24,Karretto,Harbor,Normal,win,dead,Split,Harbor_Normal,0,0,...,0,0,0,0,0,0,0,0,0,0

In [93]:
Stream_final.to_csv("/home/kannika/Analysis_Valorant/final_output_valorant_192Feature.csv")